.leave {
  animation: zoomOutDown;
  animation-duration: 3s;
}
.leave-bg {
  animation: fadeOut;
  animation-duration: 1s;
}
.container-intro {
  width: 100vw;
  height: 100vh;

  text-align: center;
  background: url("/fundo.png") no-repeat center;

  .envelope {
    width: 50%;
    margin: 0 auto;
    background: none;
    border: 0;
    margin-top: calc(25vh);

    cursor: pointer;
    &:hover {
      filter: brightness(0.9);

      @media only screen and (min-width: 1221px) {
        animation: tada infinite;
        animation-duration: 5s;
      }
    }
    @media only screen and (max-width: 1220px) {
      animation: tada infinite;
      animation-duration: 5s;
    }

    &:hover img {
      border: 4px solid rgba(255, 165, 0, 0.9);
    }

    img {
      width: 100%;
      height: auto;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      border: 4px solid rgba(118, 234, 255, 0.5);
      border-radius: 25px;
      z-index: 1;
      transition: border 0.5s;
      filter: saturate(3);
    }

    .desc {
      bottom: 20%;
      left: 20%;
      font-size: 2rem;
      z-index: 3;
      color: white;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);

      @media only screen and (min-width: 1220px) {
        animation: shakeX infinite;
        animation-duration: 5s;
      }
    }
  }
}

.container {
  animation: fadeIn;
  animation-duration: 2s;

  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  //background-color: red;

  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1rem;

  article {
    flex: 1 0 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-items: center;

    img {
      width: 99%;
      height: auto;

      border: 3px solid white;
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
    }

    animation: pulse infinite; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
  }

  aside {
    flex: 1 0 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    //background: green;

    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 1.2rem;
      color: #00aade;
      text-shadow: 2px 2px 2px rgba($color: #fff, $alpha: 0.5);
    }

    .aside-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      min-height: 100px;
      border-radius: 5px;
      border: 3px solid white;
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);

      color: #795031;

      font-weight: bold;

      background: rgb(255, 254, 211);

      & + div {
        margin-top: 1.3rem;
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.7rem;
        margin: 1.5rem;
        color: #c88b5c;
        //text-decoration: underline;
      }

      .confirm {
        animation: bounce infinite; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 6s; /* don't forget to set a duration! */
      }

      p {
        text-align: justify;
        margin: 1rem 1.5rem 2rem 1.5rem;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        margin: 1rem 1.5rem 2rem 1.5rem;

        p {
          margin: 0;
          padding: 0.3rem;
        }

        h3 {
          font-size: 1.3rem;
        }

        svg {
          width: 40px;
          height: 40px;
          color: #00aade;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  position: relative;
  .map {
    overflow: hidden;
    // iframe {
    //   //position: absolute;
    // }
  }

  a,
  button,
  .atcb_button {
    text-decoration: none;
    transition: color 0.2s;

    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 20%);
    color: #ff8c00;
    cursor: pointer;
    display: flex;
    line-height: 24px;
    margin: 0 2px;
    max-width: 300px;
    min-width: 150px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transform: translate3d(0, 0, -12px);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: auto;
    z-index: 1;

    &:hover {
      color: #00aade;
    }
  }

  .atcb_icon {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  .container {
    max-width: 100vw;
    flex-direction: column;
    align-items: center;

    article,
    aside {
      flex: 1 1 100%;
    }
  }
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
  .container-intro {
    .envelope {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
  .container aside .aside-content h2 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 340px) {
  .container {
    padding: 0.5rem;

    article img {
      width: 97%;
    }

    aside {
      width: 100%;
    }
    aside .aside-content {
      width: 90%;
      margin: 0;
      padding: 0;

      .details {
        flex-direction: column;
      }
    }
  }
}

@media (max-height: 600px) {
  .container-intro {
    .envelope {
      width: 60%;
    }
  }
  .container-intro .envelope {
    margin-top: 2rem;
  }
}
